/* Estilos gerais */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho (Header) */

header {
    background-color: #3498db; /* azul claro */
    color: #ffffff; /* branco */
    text-align: center;
    padding: 1em;
    width: 100%;
}

header h1 {
    margin: 0; /* Remover margem padrão do h1 */
}

/* Barra de Navegação */

nav {
    background-color: #ecf0f1; /* azul claro */
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: #3498db; /* azul */
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    border: 1px solid #ddd;
}

nav a:hover {
    background-color: #2980b9; /* azul mais escuro */
}

/* Seção "Sobre Mim" */

#sobre {
    text-align: center;
    margin: 2em;
    background-color: #ffffff; /* branco */
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sobre h2 {
    color: #3498db; /* azul */
}

#sobre p {
    color: #555555; /* cinza escuro */
    margin-bottom: 1em; /* Adiciona um espaçamento inferior entre os parágrafos */
}

/* Seção "Formacao" */

#formacao {
    text-align: center;
    margin: 2em;
    background-color: #ffffff; /* branco */
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#formacao h2 {
    color: #3498db; /* azul */
}

#formacao p {
    color: #555555; /* cinza escuro */
    margin-bottom: 1em; /* Adiciona um espaçamento inferior entre os parágrafos */
}

#certificados {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens quebrem para a próxima linha */
    justify-content: space-around;
    margin-top: 20px;
}

#certificados a {
    flex: 0 1 calc(30% - 10px); /* Ajuste a largura da coluna e o espaçamento conforme necessário */
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

#certificados img {
    width: 100%;
    height: auto;
    border: 4px solid #ccc;
    border-radius: 10px; /* Adiciona cantos arredondados nas miniaturas */
    transition: transform 0.3s ease-in-out; /* Adiciona um efeito de transição suave */
}

#certificados a:hover img {
    transform: scale(1.1); /* Adiciona um efeito de escala ao passar o mouse sobre as miniaturas */
}

/* Regras de mídia para ajustar o tamanho das imagens em telas menores */
@media screen and (max-width: 600px) {
    #certificados a {
        flex: 0 1 calc(100% - 20px); /* Em telas menores, faz as imagens ocuparem a largura total da tela */
    }
}

/* Seção "Portfólio" */

#portfolio {
    text-align: center;
    margin: 2em;
    background-color: #ffffff; /* branco */
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#portfolio h2 {
    color: #3498db; /* azul */
}

#portfolio p {
    color: #555555; /* cinza escuro */
    margin-bottom: 1em; /* Adiciona um espaçamento inferior entre os parágrafos */
}

/* Regras de mídia para ajustar o tamanho dos vídeos em telas menores */
@media screen and (max-width: 600px) {
    #portfolio iframe {
        width: 100%; /* Define a largura do vídeo para ocupar toda a largura da tela em telas menores */
    }
}

/* Rodapé */

footer {
    background-color: #3498db; /* azul claro */
    color: #ffffff; /* branco */
    text-align: center;
    padding: 1em;
    width: 100%;
}

footer h1 {
    margin: 0; /* Remover margem padrão do h1 */
}

/* Estilo para cantos arredondados na foto de perfil */
.foto-perfil {
    border-radius: 50%; /* 50% para tornar os cantos completamente arredondados (formato circular) */
    width: 150px; /* Ajuste conforme necessário */
    height: 150px; /* Ajuste conforme necessário */
}
