/* Estilos gerais */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho (Header) */

header {
    background-color: #3498db; 
    color: #ffffff; 
    text-align: center;
    padding: 1em;
    width: 100%;
}

header h1 {
    margin: 0; 
}

/* Barra de Navegação */

nav {
    background-color: #ecf0f1;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    border: 1px solid #ddd;
}

nav a:hover {
    background-color: #2980b9; 
}

/* Seção "Sobre Mim" */

#sobre {
    text-align: center;
    margin: 2em;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sobre h2 {
    color: #3498db; 
}

#sobre p {
    color: #555555; 
    margin-bottom: 1em; 
}

/* Seção "Formacao" */

#formacao {
    text-align: center;
    margin: 2em;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#formacao h2 {
    color: #3498db; 
}

#formacao p {
    color: #555555;
    margin-bottom: 1em; 
}

#certificados {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin-top: 20px;
}

#certificados a {
    flex: 0 1 calc(30% - 10px); 
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

#certificados img {
    width: 100%;
    height: auto;
    border: 4px solid #ccc;
    border-radius: 10px; 
    transition: transform 0.3s ease-in-out;
}

#certificados a:hover img {
    transform: scale(1.1); 
}

/* Ajuste para celulares */
@media screen and (max-width: 600px) {
    #certificados a {
        flex: 0 1 calc(100% - 20px); 
    }
}

/* Seção "Portfólio" */

#portfolio {
    text-align: center;
    margin: 2em;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#portfolio h2 {
    color: #3498db; 
}

#portfolio p {
    color: #555555;
    margin-bottom: 1em;
}

/*Ajuste para celulares*/
@media screen and (max-width: 600px) {
    #portfolio iframe {
        width: 100%;
    }
}

/* Seção "Contato" */

#contato {
    text-align: center;
    margin: 2em;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contato h2 {
    color: #3498db; /* azul */
}

#contato p {
    color: #555555; 
    margin-bottom: 1em; 
}

/* Formulário de Contato */

#contato form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato label {
    margin-bottom: 0.5em;
    color: #3498db; 
}

#contato input,
#contato textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

#contato input[type="submit"] {
    background-color: #3498db; 
    color: #ffffff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contato input[type="submit"]:hover {
    background-color: #2980b9;
}

/* Links de Contato */

#links-contato {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#links-contato a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
}

#links-contato img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    transition: transform 0.3s ease-in-out; 
}

#links-contato a:hover img {
    transform: scale(1.2); 
}

/* Rodapé */

footer {
    display: none; 
}


.foto-perfil {
    border-radius: 50%; 
    width: 150px; 
    height: 150px;
}